{%extends 'base.html'%}
{%block content%}
<link rel="stylesheet" href="/static/css/mapa.css">
<div class="titulo">EL MANÁ: UBICACIÓN</div>
<div class="subtitle">
    <h2> 🗺️ Francisco Solano 212 paralela a la UNT</h2>
</div>

<div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15799.50689085911!2d-79.0349559!3d-8.1140328!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d9dc8494b57%3A0x889cdf2c18d7190e!2sCaf%C3%A9%20Restaurante%20EL%20MAN%C3%81!5e0!3m2!1ses!2spe!4v1688993146086!5m2!1ses!2spe" width="1000" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
  
{%endblock%}